<div class="container">
    <h1>{{title}}</h1>
    <div class="row">
        <div class="col-md-3" *ngFor="let item of items" >
            <div class="thumbnail">
                <img src="{{ item.img }}" (click)="goDetail(item.id)" alt="{{ item.name }}">
                <div class="caption">

                    <h3 (click)="goDetail(item.id)" class="title">{{ item.name }}</h3>
                    <p class="geo" > Category: {{ item.category }}</p>
                    <h3 class="price" >{{ item.price }} грн</h3>
                    <hr>
                    <p class="text-center">
                        <button  class="btn btn-default" role="button" (click)="addToCart(item)">В корзину</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="cart">
    <i class="glyphicon glyphicon-shopping-cart">&nbsp;</i>
    <span class="cart-count">{{ cartCount }}</span>
</div>

